@model OrmeauCarols.Controllers.IndexViewModel
@{
    ViewBag.Title = "Winter Wonderland - Ormeau Carols 2012";
}

<header>
    <img src="/Content/images/header.jpg" alt="Winter Wonderland - ORMEAU CAROLS 2012" />
</header>
<div id="main" role="main">
    <div id="content">
        <div id="left-col">
            <div id="feature">
                <a href="#" onclick="playVideo()"><img src="/Content/images/videothumbnail.jpg" alt="Watch the promotional video" /></a>
            </div>
            <img id="main-details" src="/Content/images/maindetails.png" alt="Sunday Dec 8/Brien Harris Oval/Free Rides/Food/Santa/Fireworks/4:30pm festivities/7:30pm show" />
            
            <!--<img id="about-header" src="/Content/images/about.png" alt="about ormeau carols" />-->
            
            <!--<p>We would like to thank everyone who supported the Ormeau Carols 2012. To all sponsors and volunteers that came together to make it a great success, we couldn't have done it without you.</p>
            <p>We look forward to Ormeau Carols 2013 and seeing our community blessed and families coming together.</p>
            <p>From everyone at Highway Church and Ormeau Carols, have a very merry christmas and a blessed new year!</p>-->
                        
            <p>The Ormeau Carols has been bringing Christmas to the Community for over 15years.</p>
            <p>Driven and performed by the amazing people from Highway Christian Church, the show is full of life and fun.</p>
            <p>You’ll sing along to your favourite Christmas carols, be entertained by the larger than life characters, and most importantly celebrate Christmas as a community.</p>
            <p>Our local businesses make it all possible by supporting the event through financial sponsorships and product or service donations. We sincerely thank those that have come and are yet to come on board in this way.</p>
            <p>Whether you are 5 years old and are there to see Santa, 35 years old and can’t wait for the fireworks, or 85 years old and are desperately hoping to be chosen for Carolokee, this show is for you!</p>
            <p>We have already begun preparing a cracker show, 'Loves Pure Light'. <!--Why not come early and entertain your family with free rides and attractions and a wide selection of food and drink.</p>-->
            <p>It won’t be Christmas without you!</p>
            <br />

            <iframe width="475" height="281" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.au/maps?hl=en&amp;q=brien+harris+oval+ormeau&amp;ie=UTF8&amp;hq=brien+harris+oval&amp;hnear=Ormeau+Queensland&amp;t=m&amp;ll=-27.786011,153.253484&amp;spn=0.005334,0.010171&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com.au/maps?hl=en&amp;q=brien+harris+oval+ormeau&amp;ie=UTF8&amp;hq=brien+harris+oval&amp;hnear=Ormeau+Queensland&amp;t=m&amp;ll=-27.786011,153.253484&amp;spn=0.005334,0.010171&amp;z=16&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>

            <!--<img id="Main Sponsor" src="/Content/images/Drake Super IGA.jpg" alt="Main Sponsor - Drakes Super IGA" />
            <img id="All Sponsors" src="/Content/images/Sponsors.jpg" alt="All Sponsors" />-->
        </div>
        <div id="right-col">
            <div class="panel twitter-panel">
                <div class="panel-content">
                    <a href="http://twitter.com/?q=ormeau+carols#!/OrmeauCarols" target="_blank" class="external-link">Follow us on Twitter</a>
                    @foreach (var tweet in Model.Tweets)
                    {
                        <p>@tweet.Message - <a href="@tweet.LinkUrl">@tweet.User</a></p>
                    }
                </div>
            </div>
            <div class="panel facebook-panel">
                <div class="panel-content">
                    <a href="http://www.facebook.com/pages/Ormeau-Carols/246744065349913" target="_blank" class="external-link">Follow us on Facebook</a>
                    @foreach (var status in Model.FacebookStatuses)
                    {
                        <p>@status.Title - <a href="@status.LinkUrl">@status.Author</a></p>
                    }
                </div>
            </div>
           
            <!--<div class="panel sponsor-panel">
                <a href="/Content/pdf/Ormeau Carols 2012 Sponsorship Information.pdf" target="_blank">
                    <img src="/Content/images/Sponsordetails.png"/>
                </a>
            </div>-->
            
            <img id="Main Sponsor" src="/Content/images/Sponsordetails.jpg" alt="Sponsorship details coming soon!" />

            <div>
                <a href="http://www.highway.com.au" target="_blank"><img src="/Content/images/Logo.png" /></a>
            </div>
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>